label.OptionBox {
	transition-duration: .1s;
}

label.OptionBox:has(input:checked) {
	background-color: rgba(255, 0, 0, .4);
}

label.OptionBox:hover {
	background-color: rgba(255, 255, 255, .2);
	transform: translateY(-15px);
}

@media only screen and (max-width: 800px) {
	.OptionBoxSection {
		border-radius: 0px !important;
		margin-bottom: 15px;
		width: 100%;
	}
} 
